.header-container { display: flex;
    justify-content: space-around;
    align-items: center;
    } 
    
    header nav ul {list-style: none;
    overflow: hidden;}
    
    header nav ul li { float: left;}
    
    header nav ul li a { display: block;
    padding: 10px; 
    color: rgb(255, 145, 0);
    font-size: 30px;
    text-decoration: none;
    }
    
    header img { height: 250px;
        width: 250px;
    }   
    