@import "../scss/componentes/header";
@import "../scss/componentes/footer";
@import "../scss/componentes/servicios";
@import "../scss/componentes/unidades";
@import "../scss/componentes/nosotros";
@import "../scss/componentes/contacto";
@import "../scss/componentes/inicio";
@import "../scss/base/listas";


/*fondo de la web*/
body {background-color: white;
@media (max-width: 480px) { 
    body { background-color: rgb(187, 227, 243);}
}
}
.disclaimer { display: none;}