@import "../base/extends";



/*Estilos de footer*/
.redes { @extend %ordenar;
    margin-top: 200px;
    background-color: lightblue;
padding: 30px;}
    
.redes img { height: 50px;
    width: 50px;
    }
    
.cv { font-size: 13px;
    }
    
/*transicion, animación*/
.transicion { transition: all 2s;}
    
.transicion:hover { transform: scale(2);}
    