
.header-container { display: flex;
    align-items: center;
     } 
    
header { 
    nav{ background-color: lightblue;
        width: 100%;
        ul{list-style: none;
            // overflow: hidden;
            li{ 
                color: rgb(255, 145, 0);
                font-size: 20px;
                text-decoration: none;
                padding: 12px;
            
            }
        }
   } 
}

.header-img { 
    width: 50%;
    }   
    
    