
.header-container { display: flex;
    justify-content: space-around;
    align-items: center;

    } 
    
header { 
    nav{ background-color: lightblue;
        ul{list-style: none;
            // overflow: hidden;
            li{ 
                
                color: rgb(255, 145, 0);
                font-size: 30px;
                text-decoration: none;
            
                

            }
        }
   } 
}

.header-img { 
    width: 60%;
    }   
    
.animate__tada:hover {
    display: inline-block;
    margin: 0 0.5rem;
      
    animation: bounce; 
    animation-duration: 2s; 
    }
    